## Importaciones

In [1]:
import pandas as pd

In [2]:
# Importación de csv
df1 = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_visualization/Extract/sales_train_evaluation.csv')
df2= pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_visualization/Extract/sales_train_validation.csv')
df3= pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_visualization/Extract/sample_submission.csv')
df4= pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_visualization/Extract/sell_prices.csv')
df5= pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_visualization/Extract/calendar.csv')

## Analisis exploratorio de archivios.

### Ver Data Frames

In [3]:
# Quitar un # por celda para evitar error. Head para datos de inicio y Tail para datos del final
# El numero entre parentesis = cantidad de renglomnes a mostrar

# df1.head(3)     
#df1.tail()

In [4]:
# df2.head()
#df2.tail()

In [5]:
# df3.head()
# df3.tail()

In [6]:
df4.head(10)
# df4.tail(10)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26
5     CA_1  HOBBIES_1_001     11330        8.26
6     CA_1  HOBBIES_1_001     11331        8.26
7     CA_1  HOBBIES_1_001     11332        8.26
8     CA_1  HOBBIES_1_001     11333        8.26
9     CA_1  HOBBIES_1_001     11334        8.26

In [7]:
# df5.head()
# df5.tail()

### Estadistica

In [8]:
# Se observa que los primeros df tienen las mismas columnas, con diferentes renglones
# Los otros Data Frames difieren en dimensiones 
df1.shape , df2.shape , df3.shape, df4.shape, df5.shape

((30490, 1947), (30490, 1919), (60980, 29), (6841121, 4), (1969, 14))

In [9]:
# Se observa que no hay datos vacíos en los csv, excepto en el 5 relacionado a calendario, donde se marcan los días festivos

# df1.isna().sum()
# df2.isna().sum()
# df3.isna().sum()
# df4.isna().sum()
df5.isna().sum()

date               0
wm_yr_wk           0
weekday            0
wday               0
month              0
year               0
d                  0
event_name_1    1807
event_type_1    1807
event_name_2    1964
event_type_2    1964
snap_CA            0
snap_TX            0
snap_WI            0
dtype: int64

In [10]:
#Título de las columnas

# list_of_column_names = list(df1.columns)
# list_of_column_names = list(df2.columns)
# list_of_column_names = list(df3.columns)
# list_of_column_names = list(df4.columns)
list_of_column_names = list(df5.columns)

print( list_of_column_names)

['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI']

In [11]:
# DEscripcion estadistica de valores
# Data Frame 3 no posee información relevante, por lo que puede ser descartado

# df1.describe()
# df2.describe()
df3.describe()
# df4.describe()
# df5.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
count,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,...,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0,60980.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Exploración

In [12]:
# Numero de días entre df1 y df2
df1.columns[-1] # Llega hasta el día d_1941

'd_1941'

In [13]:
df2.columns[-1] # Llega hasta el día d_1913

'd_1913'

In [14]:
# Comparación entre columnas de df1 y df2 para comprobar igualdad

# df1['d_1909'].compare(df2['d_1909'])
df1['d_1895'].compare(df2['d_1895'])

# Se comprueba que tienen lo mismo en cada renglon, por lo que se descartará el df2 
# debido a que el df1 posee mas dimensiones

Empty DataFrame
Columns: [self, other]
Index: []

In [15]:
df4.pivot_table(index=['store_id'], aggfunc='size')

store_id
CA_1    698412
CA_2    637395
CA_3    693990
CA_4    679025
TX_1    699796
TX_2    701214
TX_3    691112
WI_1    665912
WI_2    678171
WI_3    696094
dtype: int64

In [16]:
# Se comprueba que los 'wm_yr_wk' coinciden entre el calendario y la lista de precios

wm_yr_wk_calendar = df5.pivot_table(index=['wm_yr_wk'], aggfunc='size')  # Se agrupa  wm_yr_wk y se suma cuantas veces sale
wm_yr_wk_price = df4.pivot_table(index=['wm_yr_wk'], aggfunc='size') # Se agrupa  wm_yr_wk y se suma cuantas veces sale
pd.DataFrame(wm_yr_wk_calendar.index).shape, pd.DataFrame(wm_yr_wk_calendar.index).shape # Se crea un data Frame con las 
                                                                   #  agrupaciones de wm_yr_wk y se comparan ,siendo iguales

((282, 1), (282, 1))

In [17]:
# Se comprueba que el numero de wm_yr_wk es el mismo
print((pd.DataFrame(wm_yr_wk_price.index)).compare(pd.DataFrame(wm_yr_wk_calendar.index)))

Empty DataFrame
Columns: []
Index: []

In [18]:
# Se analizan los eventos

# Contador de eventos = 30 y cuantos hubieron = 162
df5.pivot_table(index=['event_name_1'], aggfunc='size').count() , df5.pivot_table(index=['event_name_1'], aggfunc='size').sum()

(30, 162)

In [19]:
# Contador de tipo de  eventos = 4 y cuantos hubieron = 162
df5.pivot_table(index=['event_type_1'], aggfunc='size').count() , df5.pivot_table(index=['event_type_1'], aggfunc='size').sum()

(4, 162)

In [20]:
# Contador de eventos 2 = 4  y cuantos hubieron = 5
# Tipo de eventos 2 = 2  y cuantos hubieron = 5

print(df5.pivot_table(index=['event_name_2'], aggfunc='size').count() , df5.pivot_table(index=['event_name_2'], aggfunc='size').sum(),
df5.pivot_table(index=['event_type_2'], aggfunc='size').count() , df5.pivot_table(index=['event_type_2'], aggfunc='size').sum() )

# Se descarta la columna al no ser relevante ni machear con los otros datos

4 5 2 5